:root{
    --color-fondo-seccion-reloj:#888888;
    --color-texto-seccion-reloj:#FFFFFF;
    --color-fondo-badge-seccion-reloj:#cdcdcd;
    --color-texto-badge-seccion-reloj:#000000;
}
.section__controles{
    margin:0 auto;
    background:#D7D7D7;
    height: 80vh;
}

.contenedorbotones{
    margin:0 auto;
}

.section__reloj{
    color: var(--color-texto-seccion-reloj);
    background: var(--color-fondo-seccion-reloj);
    border-radius:5px;
    padding:5px 5px;
}

.badge{
    color:var(--color-texto-badge-seccion-reloj);
    background: var(--color-fondo-badge-seccion-reloj) !important;
}